<div class="text-center">
    <h1 class="display-4">Kontakta oss.</h1>
</div>
<div class="text-center">
    <p>
        Tveka inte att kontakta oss om det är något vi kan hjälpa till med.        
    </p>
    <p>
        <strong>Adress:</strong><br />
        Hantverksboden<br />
        Slöjdarvägen 1<br />
        123 45 Näverbyn<br />
    </p>
</div>
<div class="container-fluid">

    <div class="row d-flex justify-content-center">
        
        <div class="card col-sm-4 col-lg-4 col-md-4 mr-2 mb-2">

            <div class="card-body">
                <img src="/images/ProfilePhoto_final.jpg" class="card-img-top" alt="">

                <div class="card-body">
                    <h5 class="card-title">
                        Sigge Slöjdare
                    </h5>
                    <p class="card-text">Mästerslöjdare <br />
                    Epost:<br />
                    <a href="#">sigge.slojdare@@hantverksboden.mock</a> </p>
                </div>

            </div>

        </div> 
        
    </div>

</div>