@model IEnumerable<Hantverksboden1.Models.Craft>  // Lower case model

<div class="text-center">
    <h1 class="display-4">Välkommen till Hantverksboden.</h1>
    
</div>
@foreach(var craft in Model) // Upper case Model
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@craft.ImageThumbnailUrl" alt="">
                <div class="caption">
                    <h3>
                        <a>@craft.Name</a>
                    </h3>
                    <p>@craft.ShortDescription</p>
                </div>
            </div>
        </div>
    }
