@model IEnumerable<Hantverksboden1.Models.Craft>  // Lower case model

<div class="text-center">
    <h1 class="display-4">Välkommen till Hantverksboden.</h1>    
</div>
<div class="text-center">
    <p>
        Vi på Hantverksboden tillverkar föremål i näver.<br />
        Våra artiklar är lika vackra att se på som de är praktiska att använda. <br />
        Här nedan ser du vårt utbud av näverföremål. <br />
        Inom kort kommer vi att erbjuda möjligheten att beställa direkt här på sidan. <br />
        Fram till dess ber vi dig <a asp-controller="Home" asp-action="Contact">kontakta oss</a>  om det är något du är intreserad av.
    </p>

</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        @foreach (var craft in Model) // Upper case Model
        {
            <partial name="_CraftCard" model="craft" />
        }
    </div>
</div>
